.propfile-card{
  background-color: #fff;
  position: absolute;
  right: 10%;
  width: 200px;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  z-index: 3;
  transition: all ease .3s;
  box-shadow: 0px 10px 30px 5px #00000028;
  border-top: solid 2px rebeccapurple;
}
.profile-card-img-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-card-img{
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}
.hidden{
  opacity: 0;
  visibility: hidden;
  top: 150%;
}
.show{
  opacity: 1;
  visibility: visible;
  top: 100%;
}
.profile-card-info{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.profile-card-info p{
  color: #b8b5b5;
}