.socialIcon{
    font-size: 1.3rem;
    color: #1e1e1e;
    background-color: #fff;
    padding: .5rem;
    border-radius: 50%;
    transition: all ease .3s;
}
.socialIcon:hover{
    background-color: rebeccapurple;
    color: #fff;
}
.socialIcons-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}